:root {
    --nav-bg-color: #78350f;
    --main-bg-color: #FEF3C7;
    --main-contrast-color: #92400E;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    font-family: 'Quicksand', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.nav-bar {
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: center;
    gap: 5%;
    height: 10vh;
}

.nav-button {
    border: none;
    font-size: 2rem;
    background-color: var(--nav-bg-color);
    color: var(--main-bg-color);
}

.nav-button:hover {
    text-decoration: underline;
}

#content {
    width: 100vw;
    height: 90vh;
}

.main-panel {
    height: 100%;
    width: 100%;
}

.home {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.side-image {
    z-index: 1;
}

.side-image img {
    height: 100vh;
    width: auto;
    box-shadow: 0px 0px 8px #101010;
}

.side-image p {
    position: absolute;
    bottom: 1px;
    color: #101010;
}

.side-image a {
    color: #101010;
}

.header {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--main-contrast-color);
}